<div id="<%= dom_id page %>">
  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= page.content %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= page.published %>
  </p>

  <p>
    <strong>Prefrences:</strong>
    <%= page.prefrences %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= page.status %>
  </p>

</div>
