<!DOCTYPE html>
<html lang="en" class="scrollbar-rounded">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content h-screen">
        <%= render "layouts/header" %>
        <div class="<%= container_class %> mx-auto mt-4">
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
      <%= render "layouts/sidebar" %>
    </div>
    <%= render "layouts/analytics" %>
  </body>
</html>
